<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/admin" style="font-weight: bold;" >{{PLATFORM_NAME}} Admin</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/order-summary">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/manage-products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/manage-product-categories">Product Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/manage-vendors">All Vendors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/manage-users">All Users</a>
          </li>
        </ul>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            data-bs-target="#navbarTogglerDemo03" aria-haspopup="true" aria-expanded="false">
            {{#if adminData}}
            Hey, {{adminData.name}}
            {{else}}
            {{PLATFORM_NAME}}'s Admin
            {{/if}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{#if adminData}}
            <form action="/admin/logout" method="post">
              <button class="dropdown-item" type="submit">Log out</button>
            </form>
            {{else}}
            <a class="dropdown-item" href="/admin/login">Log In</a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  .navbar-brand:hover {
    color: #dc3545;
  }

  .navbar-nav .nav-link:hover {
    color: #dc3545;
    transform: scale(1.05);
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeInDown 0.3s ease-in-out;
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
