<section style="margin-top: 20px; margin-bottom: 90px; padding-top: 5px; padding-bottom: 90px;">


    {{!-- ============================== Active Coupons ============================== --}}

    <div class="container">

        <div class="row mt-4 justify-content-end">

            <form action="/admin/add-coupon" method="GET" class="col-md-2">
                <button class="btn btn-success" type="submit">Add New Coupon</button>
            </form>

        </div>

        <h3 style="text-align: center; color:#0d6efd"><u>Active Coupons</u></h3>

        {{!-- ====================TABLE==================== --}}

        <table id="active-coupons-table" class="table table-striped mt-4">

            {{!-- ==========Table Header========== --}}

            <thead>
                <tr>
                    <th scope="col">Coupon Code</th>
                    <th scope="col">Status</th>
                    <th scope="col">Description</th>
                    <th scope="col">Discount %</th>
                    <th scope="col">Maximum Discount</th>
                    <th scope="col">Minimum Order Value</th>
                    <th scope="col">Validity</th>
                    <th scope="col">Usage Count</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            {{!-- ==========Table Body========== --}}

            <tbody>

                {{#each activeCoupons}}

                    <tr>
                        
                        <td>{{this.couponCode}}</td>
                        <td>
                            {{#if this.activeCoupon}}
                                <i class="fas fa-check-circle text-success"></i> Active
                            {{else}}
                                <i class="fas fa-lock text-danger"></i> Blocked
                            {{/if}}
                        </td>
                        <td>{{this.couponDescription}}</td>
                        <td>{{this.discountPercentage}}</td>
                        <td>{{this.maxDiscountAmount}}</td>
                        <td>{{this.minOrderValue}}</td>
                        <td>{{this.validFor}}</td>
                        <td>{{this.usageCount}}</td>

                        <td>
                            
                            <a href="/admin/edit-coupon/{{this._id}}" class="btn btn-success">EDIT</a>

                            <form action="/admin/change-coupon-status" method="POST" class="col-md-2">
                                
                                <input type="hidden" name="couponId" value="{{this._id}}">
                                
                                <button class="btn btn-danger" onclick="return confirm('Are you sure that you want to deactivate {{this.couponCode}} coupon?')" type="submit">DEACTIVATE</button>

                            </form>


                        </td>
                        
                    </tr>

                {{/each}}

            </tbody>

        </table>

    </div>

</section>