<section style="margin-top: 20px; margin-bottom: 90px; padding-top: 5px; padding-bottom: 90px;">

    <div class="container">

        <div class="row mt-4 justify-content-end">

            <form action="/admin/add-coupon" method="GET" class="col-md-2">
                <button class="btn btn-success" type="submit">Add New Coupon</button>
            </form>

        </div>

        {{!-- ====================TABLE==================== --}}

        <table id="coupon-table" class="table mt-4">

            {{!-- ==========Table Header========== --}}

            <thead>
                <tr>
                    <th scope="col">Coupon Code</th>
                    <th scope="col">DB Id</th>
                    <th scope="col">Description</th>
                    <th scope="col">Discount %</th>
                    <th scope="col">Maximum Discount</th>
                    <th scope="col">Minimum Order Value</th>
                    <th scope="col">Validity</th>
                    <th scope="col">Usage Count</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            {{!-- ==========Table Body========== --}}

            <tbody>

                {{#each coupon}}

                <tr>
                    
                    <th scope="row">{{this.couponCode}}</th>
                    <td>{{this._id}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.discountPercentage}}</td>
                    <td>{{this.maxDiscountAmount}}</td>
                    <td>{{this.minOrderValue}}</td>
                    <td>{{this.validFor}}</td>
                    <td>{{this.usageCount}}</td>

                    <td>
                        
                        <form action="/admin/edit-coupon" method="POST" class="col-md-2">

                            <input type="hidden" name="couponId" value="{{this._id}}">

                            <button class="btn btn-success" type="submit">EDIT</button>

                        </form>

                        <form action="/admin/deactivate-coupon" method="POST" class="col-md-2">
                            
                            <input type="hidden" name="couponId" value="{{this._id}}">
                            
                            <button class="btn btn-danger" onclick="return confirm('Are you sure that you want to deactivate {{this.name}} coupon?')" type="submit">DELETE</button>

                        </form>


                    </td>
                    
                </tr>

                

                {{/each}}

            </tbody>

        </table>

    </div>

</section>

{{!-- Script For Enabling Data table in the above table --}}
<script>

    $('#coupon-table').DataTable();

</script>