<section>
    
  <div class="container">

    <h1>Edit Product Category</h1>

    <form id="edit-product-category-form" action="/admin/edit-product-category/{{productCategoryData._id}}" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="category Id">Category Id:</label>
        <div class="input-group">
          <input type="number" class="form-control" id="id" name="categoryId" min="0" step="1" value='{{productCategoryData.categoryId}}' required>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" value='{{productCategoryData.name}}' required>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description" rows="5" required>{{productCategoryData.description}}</textarea>
      </div>
      <div class="form-group">
        <label for="image">Image:</label>

        <img src="/product-category-images/{{productCategoryData.categoryImage}}" alt="{{productCategoryData.name}}" style="width: 100px;height:auto" id="imageView" class="pt-3">

        <div class="custom-file">
          <input type="file" class="custom-file-input" id="image" name="image" accept="image/*" onchange="displayImage(event)">
          <label class="custom-file-label" for="image">Choose file</label>
        </div>
        <div id="image-preview" class="mt-2"></div>
      </div>
      <button type="submit" class="btn btn-primary">Edit Category</button>
      <button type="reset" class="btn btn-secondary ml-2">Reset</button>
    </form>

  </div>

</section>


{{!-- Javascript Function to Display new image selected in the page instead of Existing Image --}}
<script>

  function displayImage(event){

    document.getElementById('imageView').src = URL.createObjectURL(event.target.files[0])

  }

</script>

