{{!-- ================================================== Admin-side Manage products page ================================================== --}}

<style>
    @keyframes blink-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    }

    .blink {
    animation: blink-animation 0.5s infinite;
    }

</style>



<section>

    <div class="container">

        <div class="row mt-4 justify-content-end">

            <form action="/admin/add-product" method="GET" class="col-md-2">
                <button class="btn btn-success" type="submit">Add New Product</button>
            </form>

        </div>

        {{!-- ====================TABLE==================== --}}

        <table class="table mt-4">

            {{!-- ==========Table Header========== --}}

            <thead>
                <tr>
                    <th scope="col">Product Id</th>
                    <th scope="col">Product</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Image</th>
                    <th scope="col">Offers</th>
                    <th scope="col">Offer Action</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            {{!-- ==========Table Body========== --}}

            <tbody>

                {{#each products}}

                    <tr>
                        <th scope="row">{{this.id}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.category.name}}</td>
                        <td>₹ {{this.price}}</td>

                        {{#if (lt this.availableStock 25)}}
                            <td><span style="color: red; font-weight: bold;">{{this.availableStock}} <br> <span class="blink" style="color: red; font-weight: bold;">Low!!!</span></span></td>
                        {{else}}
                            <td>{{this.availableStock}}</td>
                        {{/if}}
                        
                        <td><img style="width: 50px; height: 50px" src="/product-images/{{images.[0]}}" alt="{{this.name}}"></td>

                        {{#if (gt this.productOffer 25)}}
                            <td><span style="color: red; font-weight: bold;">{{this.productOffer}} %<br> <span class="blink" style="color: darkorange;">Carefull!</span></span></td>
                        {{else}}
                            <td>{{this.productOffer}} %</td>
                        {{/if}}

                        <td>
                            
                            <button class="btn btn-primary mb-1" data-bs-toggle = "modal" data-bs-target="#set-product-offer-{{this._id}}">Add</button>

                            <form action="/admin/remove-product-offer" method="post">
                                <input type="hidden" name="productId" value="{{this._id}}">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure that you want to remove product offer ?')">Remove</button>
                            </form>

                        </td>
                        <td>
                            <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary mb-1">Edit</a>
                            <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure that you want to delete {{this.name}} ?')">DELETE</a>
                        </td>
                    </tr>

                    {{!-- ========================== Modal for Adding product offer ========================== --}}

                    <div class="modal fade" id="set-product-offer-{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">

                                <div class="modal-header">

                                    <h5 class="modal-title" id="exampleModalCenterTitle">Set Product Offer for {{this.name}}</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                                <form action="/admin/set-product-offer" method="POST">

                                    <div class="modal-body">
                                        <label for="offer">Offer Percentage:</label>
                                        <input type="number" id="productOfferPercentage" name="productOfferPercentage" required min="1" max="99">

                                        <input type="hidden" class="form-control" id="productId" name="productId" value="{{this._id}}" required>

                                        <br><br>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>

                {{/each}}

            </tbody>

        </table>

    </div>

</section>